# DB
POSTGRES_USER=
POSTGRES_PASSWORD=""
POSTGRES_DB=
POSTGRES_PORT=

# Main Server
APP_NAME=
SERVER_PORT=

# OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
JWT_SECRET=""
JWT_ACCESS_TOKEN_EXPIRE_MS=3600000
JWT_REFRESH_TOKEN_EXPIRE_MS=604800000
OAUTH2_SUCCESS_REDIRECT_URL=http://localhost:3000/oauth/callback
OAUTH2_FAILURE_REDIRECT_URL=http://localhost:3000/oauth/error

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8000

# Cookie
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
# Secure Cookie가 아닐 때는 None 불가능
COOKIE_SAME_SITE=Lax
COOKIE_PATH=/
