# DB
POSTGRES_USER=
POSTGRES_PASSWORD=""
POSTGRES_DB=
POSTGRES_PORT=

# Redis
REDIS_PORT=
REDIS_PASSWORD=""

# Main Server
APP_NAME=
SERVER_PORT=

# OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
JWT_SECRET=""
OAUTH2_SUCCESS_REDIRECT_URL=http://localhost:3000/oauth/callback
OAUTH2_FAILURE_REDIRECT_URL=http://localhost:3000/oauth/error

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8000

# Cookie
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=None
COOKIE_PATH=/
