services:
  db:
    image: postgres:18-alpine
    container_name: techtaurant-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - techtaurant-network

  redis:
    image: redis:8-alpine
    container_name: techtaurant-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - techtaurant-network

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  techtaurant-network:
    driver: bridge
